*{
  margin: 0px;
  padding: 0px;

  font-family: 'Arial';
  box-sizing: border-box;
}

.modalContainer{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  padding: 30px;
  border: 1px solid #000;
}

[data-theme="dark"] .modalContainer{
  background-color: #1f1d27;
  border: 1px solid #fff;
  color: #fff;
}